<footer>
    <p>&copy; 2024 Nike-like Shoe Shop</p>
    <div id="social-media">
        <a href="#" class="fb-share-button" data-href="https://your-website.com" data-layout="button" data-size="small">Share</a>
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://your-website.com" data-text="Check out this awesome shoe shop!">Tweet</a>
    </div>
</footer>